body {
  color: #20232a;
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f8f2;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.forcast {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.forcast__day {
  background: #20232a;
  flex-grow: 1;
  color: #f8f8f2;
  text-align: center;
  transform: translateY(30%);
  display: flex;
  flex-direction: column;
  margin: 1px;
  transition: transform ease-in-out 0.2s;
}

.forcast__day:hover {
  transform: translateY(20%);
}

.forcast__day--selected {
  transform: translateY(5%);
}

.forcast__image {
  width: 100px;
}
